* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#container {
    position: relative;
}
h1{
    font-size: 60px;
    color: #707070;
    padding: 30px 60px;
    background-image: url(./img/TwoClear_logo.png);
    background-repeat: no-repeat;
    background-position: 367px 40px;
    background-size: 150px;
}
img {
    width: 20%;
    display: block;
    margin: 5% 8%;
}
canvas {
    position: absolute;
    top: 50px;
    right: 5%;
    margin-left: 50px;
    display: block;
    border: 5px solid #707070;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3);
}
#start-button{
    width: 350px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #707070;
    display: block;
    border: 5px solid #707070;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3);
}